<div>
  <div #ref>Welcome To Hello Component</div>
  <div custDir>How are you?</div>
  <button (click)="clickHere('red')">click</button>
  <counter></counter>
  <button (click)="incHere()">Click to Increment</button>
  <profile [name]="'Jagath'" [age]="25" [occupation]="'Software Engineer'">
    <input type="text" placeholder="Enter" />
  </profile>
  <profile [name]="'Lokesh'" [age]="23" [occupation]="'Software Engineer'">
    <input type="text" placeholder="Enter" />
  </profile>
</div>
